.vscode
.DS_Store
**/.DS_Store

# client

## dependencies
client/node_modules
client/.pnp
client/.pnp.js

## testing
client/coverage


## production
client/build
client/dist

## misc
client/.DS_Store
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*


# server

server/.env
server/node_modules
server/coverage