.epContent {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.epName {
  display: flex;
  align-items: center;
}

.epNumber {
  color: var(--color-orange);
  margin-right: 1rem;
}

.timeDetail {
  font-size: var(--font-size-small);
  letter-spacing: 0.1px;
  color: var(--color-grey);
}

.new {
  font-size: 11px;
  color: var(--color-black);
  font-weight: 700;
  line-height: 100%;
  padding: 2px 8px 4px;
  border-radius: 13%;
  background-color: var(--color-green);
  margin-bottom: 5px;
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1350px) {
  .EpisodeItem {
    display: unset;
    text-align-last: center;
    align-items: unset;
    width: 100%;
  }

  .epNumber {
    margin-right: 0.5rem;
  }

  .timeDetail {
    display: block;
    margin: 1rem 0 0 0;
    font-size: var(--font-size-small);
  }
}
