.EpisodeList {
    position: unset;
    font-size: 1.4rem;
    list-style-type: none;
    display: grid;
    grid-gap: 3rem;
}

@media (max-width: 1350px) {
    .EpisodeList {
        justify-items: center;
        grid-gap: 4rem;
    }
}

@media (max-width: 600px) {
    .EpisodeList {
        font-size: 1.2rem;
        margin-right: 0.6rem;
    }
}
