.wrapper {
  width: 100%;
}

.wrapper .EpisodeList {
  position: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.EpisodeItem {
  position: relative;
  display: flex;
  flex-direction: column;
  hyphens: auto;
  border-bottom: 1px solid var(--color-border-row);
}

.NoEpisodesMessage {
  color: var(--color-grey);
  font-size: 1.4rem;
  padding: 2.4rem 0.4rem;
}
