.newRemoved {
  display: flex;
  margin-left: 32px;
  font-size: var(--font-size-small);
}

.removed {
  font-style: italic;
  letter-spacing: 0.1px;
  color: var(--color-grey);
}

.new {
  display: flex;
  color: var(--color-black);
  font-weight: bold;
  margin-right: 10px;
  line-height: 100%;
  padding: 3px 8px;
  border-radius: 15%;
  background-color: var(--color-green);
}
