.sort {
    position: fixed;
    right: var(--number-right-placement);
    /* display: flex; */
}

.options {
    display: flex;
}

.option .label {
    color: var(--color-grey-secondary);
    padding: 0.25em 0.5em;
    border: 1px solid var(--color-grey-secondary);
    cursor: pointer;
}

.option.selected .label {
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

.icon {
    transform: rotate(-90deg);
    transition: all 0.2;
}

.iconReverse {
    transform: rotate(90deg);
}
