.sort {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  color: var(--color-grey-secondary);
  margin-right: 2.5rem;
}

.sort p {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: var(--font-size-small);
}

.chavron {
  transform: rotate(180deg) scale(0.65);
  margin-top: 3px;
  transition: transform 0.25s ease-out;
}

.chavron.open {
  transform: rotate(0deg) scale(0.65);
  margin-top: 3px;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.option {
  display: flex;
  align-items: center;
  color: var(--color-grey-secondary);
  padding: 0.5em 0.7em;
  border: 1px solid var(--color-grey-secondary);
  transition: color, border-color 0.5s;
}

.option:not(.open) {
  visibility: hidden;
}

.option.open {
  visibility: visible;
}

.option .label {
  margin-right: 2px;
  margin-left: 2px;
  transition: color 0.5s;
}
.option:hover,
.option.selected {
  border-color: var(--color-white);
}

.icon {
  transform: scale(0.6);
  transition: color, transform 0.3s ease-out;
}

.icon path {
  color: var(--color-grey);
  transition: color 0.5s;
  transition-delay: 0.25;
}

.option.selected .label,
.option.selected:hover .icon path {
  color: var(--color-white);
}

.option.selected:hover .label {
  color: var(--color-grey-secondary);
}

.iconReverse {
  transform: rotate(180deg) scale(0.6);
}
