.githubSponsorButton {
  position: fixed;
  height: 35px;
  width: 116px;
  border: 0;
  top: 3.55rem;
  margin-left: 2rem;
  left: 20rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  .githubSponsorButton {
    display: none;
  }
}
